.container{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: lightgrey;
}

.link {
    font-weight: bolder;
    text-decoration: none;
    margin: 5px;
    color: black;
}
